{% extends 'modules/base.html' %}

{% block title %} {{ data.category.category }} {% endblock %}

{% block header %}
    <div class="blog-header">
        <h1 class="blog-title">{{ data.category.category }}</h1>
        <br>
    </div>
{% endblock header %}

{% block main %}
    {% from 'modules/posts.html' import show_posts %}
    {{ show_posts(data.posts, data.first_last_posts) }}
{% endblock main %}

{% block sidebar %}
    {% from 'modules/sidebar.html' import show_sidebar %}
    {{ show_sidebar(data.categories) }}
{% endblock sidebar %}
