{% extends 'modules/base.html' %}

{% block title %}Home{% endblock %}

{% block header %}
    <div class="blog-header">
        <h1 class="blog-title">Random blog</h1>
        <p class="lead blog-description">Some random blog</p>
    </div>
{% endblock header %}

{% block main %}
    {% from 'modules/posts.html' import show_posts %}
    {{ show_posts(data.posts, data.first_last_posts) }}
{% endblock main %}

{% block sidebar %}
    {% from 'modules/sidebar.html' import show_sidebar %}
    {{ show_sidebar(data.categories) }}
{% endblock sidebar %}
