{% extends 'modules/base.html' %}

{% block title %}New post{% endblock %}

{% block style %}
    {{ super() }}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
    <script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>
{% endblock style %}

{% block header %}
    <div class="blog-header">
        <h1 class="display-3">Create post</h1>
    </div>
{% endblock header %}

{% block content %}
    <form action="{{ url_for('view.new_post') }}" method="POST">
        {% from 'modules/post_form.html' import show_post_form %}
        {{ show_post_form(data, empty = True) }}
    </form>
{% endblock content %}

{% block script %}
    {{ super() }}
    <script src="{{ url_for('static', filename = 'simplemde.js') }}"></script>
{% endblock script %}
