{% extends 'modules/base.html' %}

{% block title %}{{ data.header }}{% endblock %}

{% block header %}
<!-- header -->
    <div class="blog-header">
      <h1 class="blog-title">{{ data.header }}</h1>
      <p class="blog-post-meta">
          {{ data.creation_date }} by {{ data.author }}
          <a href="{{ request.path }}/delete">Delete</a>
      </p>
      {% for category in data.categories %}
        <bdi class="blog-post-category">{{ category }}</bdi>
      {% endfor %}
    </div>
{% endblock  header %}

{% block main %}
<p class="blog-post-content">
    {% for line in data.content.splitlines() %}
        {{ line }}<br>
    {% endfor %}
</p>
{% endblock main %}

{% block sidebar %}
    <div class="sidebar-module sidebar-module-inset">
        <h4>Also</h4>
        <p><a href="{{ url_for('view.soon') }}">Other posts</a></p>
    </div>
{% endblock  sidebar %}
