{% extends 'modules/base.html' %}

{% block title %}{{ data.header }}{% endblock %}

{%- block header %}
    <div class="blog-title">
        <h1 class="display-3">{{ data.header }}</h1>
        <p class="blog-post-meta">{{ data.creation_date }} by {{ data.author }}</p>

        {# Show categories #}
        {%- for category in data.categories %}
            <span class="badge badge-primary">{{ category }}</span>
        {% endfor %}
    </div>
{% endblock  header -%}

{%- block main %}
    <div class="blog-post">
        <div class="card-text blog-post-content border">
            {# Show post content #}
            {{ data.content|safe }}
        </div>

        {# Show last updated... #}
        {%- if data.modification_date != None %}
            <p class="blog-post-meta">last updated {{ data.modification_date }}</p>
        {% endif %}
    </div>
{% endblock main -%}

{%- block sidebar %}
    <div class="card card-body blog-sidebar-module-main">
        <!-- Control buttons -->
        <h4 class="card-header">Options</h4>
        <ul class="list-unstyled">
            {% set btn_disable = True %}
            {% if current_user.is_authenticated %}
                {% if current_user.is_admin or data.author_id|int == current_user.id|int %}
                    {% set btn_disable = False %}
                {% endif %}
            {% endif %}

                <a class="btn btn-outline-primary blog-sidebar-btn
                {% if btn_disable %}
                    disabled
                {% endif %}
                " role="button"
                href="{{ url_for('view.edit_post', id = data.id) }}">Edit</a>
            </li>
            <li>
                <a class="btn btn-outline-danger blog-sidebar-btn
                {% if btn_disable %}
                    disabled
                {% endif %}
                " role="button"
                href="{{ request.path }}/delete">Delete</a>
            </li>
        </ul>
    </div>
{% endblock sidebar -%}
