{% macro show_posts(posts, first_last_posts) -%}
    {% if not posts %}
        <p class=blog-post-title h2>Nothing here :/</p>
    {% endif %}
    {% for post in posts %}
            <div class="blog-post">
                <a class="blog-post-title h2" href="{{ url_for('view.post', id = post.id) }}">{{ post.header }}</a>
                <p class="blog-post-meta">{{ post.creation_date }} by {{ post.author }}</p>
                {% for category in post.categories %}
                <bdi class="blog-post-category">{{ category }}</bdi>
                {% endfor %}
                <p class="blog-post-content">
                    {%- for line in post.content.splitlines() -%}
                        {{ line }}<br>
                    {%- endfor %}
                </p>
            </div>
            <hr><br>
    {% endfor %}
    <bdi>
        <a
        {% if first_last_posts.first_id != posts[-1].id %}
            href="{{ url_for(request.endpoint, from_id=posts[-1].id - 1, id=request.view_args['id']) }}"
        {% endif %}>
            previous
        </a> |
        <a
        {% if first_last_posts.last_id != posts[0].id %}
            href="{{ url_for(request.endpoint, from_id=posts[0].id + 1, newer=True, id=request.view_args['id']) }}"
        {% endif %}>
            next
        </a>
    </bdi>
{%- endmacro %}
