/* For footer */
html {
    height: 100%;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    position: relative;
    padding-top: 70px;
    padding-bottom: 50px;
    min-height: 100%;
    background-color: #edeef0;
}

img {
    max-width: 100%;
}

/* Override container */
@media (min-width: 1200px) {
    .container {
        width : 970px;
    }
}

/* Header */
.blog-header {
    padding-top: 20px;
    margin-bottom: 50px;
}
.blog-title {
    padding-top: 20px;
    margin-bottom: 10px;
}

/* Post */
.blog-post {
    padding-top: 10px;
    margin-bottom: 30px;
    word-wrap: break-word;
}
.blog-post-header {
    padding-top: 0;
    padding-bottom: 5px;
    padding-left: 0;
}
.blog-post-title {
    margin-bottom: 0;
    font-weight: normal;
}
.blog-post-title:hover,
.blog-post-title:active {
  text-decoration: none;
}
.blog-post-meta {
    color: #999;
    margin-bottom: 0;
}
.blog-post-content {
    padding-top: 10px;
    padding-left: 10px;
}
/* Nav button */
.blog-btn {
    margin-bottom: 30px;
}

/* Dropdown button with categories */
.blog-btn-dropdown,
.blog-btn-dropdown:focus {
    background-color: #007bff;
    color: white;
}
.blog-btn-dropdown.collapsed {
    background-color: white;
    color: #495057;
}
.blog-collapse {
    width: 90%;
    margin-top: 3px;
}
.blog-btn-category {
    border-color: rgba(0,0,0,.15);
    background-color: white;
    color: #495057;
}
.blog-btn-category.focus {
  box-shadow: none !important;
}
.blog-btn-category:hover {
    background-color: white;
    color: #495057;
}
.blog-btn-category.active:hover {
    background-color: #007bff;
}

/* Sidebar */
.blog-sidebar-module-main {
    margin-bottom: 30px;
    padding-top: 0;
    padding-bottom: 10px;
    text-align: center;
}
.blog-sidebar-module {
    text-align: center;
    margin-bottom: 30px;
}
.blog-sidebar-btn {
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 10px;
    width: 80%;
}
.blog-sidebar-category {
    border-radius: 0;
    border-width: 3px;
    border-style: none none none solid;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 5px;
    width: 100%;
    text-align: left;
    color: black;
}

.blog-post-form {
    margin-bottom: 10px;
}

/* Footer */
.blog-footer {
    position: absolute;
    width: 100%;
    bottom: 0;
    text-align: center;
    color: #fff;
    padding-top: 10px;
    background-color: #007bff;
}
